* {
    box-sizing : border-box;
}

body{    
    background: -webkit-linear-gradient(74deg, rgb(95, 27, 115), rgb(15, 46, 132));
    background: linear-gradient(74deg, rgb(95, 27, 115), rgb(15, 46, 132));
    color : white;
    font-size : 24px;
}

form {
    width : 100%;
}

input{
    box-sizing : border-box;
    all : unset;
    appearance: none;
}

a{
    text-decoration: white;
    color : inherit;
}

.btn{
    margin : 10px 0;
    padding : 5px 10px;
    background-color : #f21170;
    border-radius : 20px;
    cursor : pointer;
    box-shadow : 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.flex{
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}
/* Navigation  */
nav{
    position : fixed;
    top : 5px;
    left : 10px;
}
nav .home{
    font-size : 45px;
    border : 100px;
}

/* laoding */
.loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.loading,
.loading:before,
.loading:after {
    animation: 1s infinite ease-in-out;
}
.loading:before,
.loading:after {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.loading-active:before,
.loading-active:after {
    content: '';
}
.loading-active:before {
    border: 1px solid #f21170;
    top: -1px;
    left: -1px;
    opacity: 0;
    animation-name: loader-active-1;
}

@keyframes loader-active-1 {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.3); opacity: 0; }
    100% { transform: scale(1.3); opacity: 0; }
}

.loading-active:after {
    background-color: #f21170;
    animation-name: loader-active-2;
}

@keyframes loader-active-2 {
    0% { transform: scale(1); }
    50% { transform: scale(0.7); }
    100% { transform: scale(1); }
}

/* auth */
.nameForm {
    margin-top : 230px;
    text-align: center;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity : 0;
    transform : translateY(-40px);
    -moz-transform : translateY(-40px);
    -webkit-transform : translateY(-40px);
    transition : .3s all ease-out;
    -moz-transition : .3s all ease-out;
    -webkit-transition : .3s all ease-out;
}

.nameForm.visible{
    opacity : 1;
    transform : translateY(0);
    -moz-transform : translateY(0);
    -webkit-transform : translateY(0);
}
.formInput{
    background-color : white;
    border-radius : 20px;
    padding : 5px 0;
    color : #f21170;
    font-weight : bold;
}
.formInput::placeholder{
    color : rgba(0, 0, 0, 0.2);
}
.formSubmit{
    display : block;
    margin-top : 15px;
    padding : 5px 15px;
    font-weight : bold;
    background-color : #f21170;
    border-radius : 20px;
    text-align : center;
}


/* Home */
.homeContainer{
    max-width : 310px;
    opacity : 0;
    pointer-events : none;
    transition : .3s opacity linear;
    -moz-transition : .3s opacity linear;
    -webkit-transition : .3s opacity linear;
}
.homeContainer.visible{
    opacity : 1;
    pointer-events: initial;
}
.namePlace{
    margin-top : 30px;
    text-align : center;
}

.strong{
    font-weight : bold;
    background-color : white;
    border-radius : 20px;
    color : #f21170;
    padding : 2px 5px;
}

.listPlace {
    margin-top : 25px;
    padding : 10px 15px;
    border-radius : 20px;
    background-color : white;
}

.listPlace img{
    border-radius : 20px;
    border : 3px solid black;
    box-shadow : 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    transition : .2s all linear;
    -moz-transition : .2s all linear;
    -webkit-transition : .2s all linear;
}
.listPlace img:hover{
    box-shadow : none;
}

/* game */
/* board */
.gameContainer{
    opacity : 0;
    pointer-events : none;
    transition : .2s opacity ease-in-out;
    -moz-transition : .2s opacity ease-in-out;
    -webkit-transition : .2s opacity ease-in-out;
}
.gameContainer.visible{
    opacity : 1;
    pointer-events : initial;
}
/* rules */
.gameTitle {
    margin-top : 50px;
    font-size : 24px;
}
.gameRules{
    font-size : 14px;
    line-height : 1;
}
button#beginner{
    margin-top : 40px;
    background-color : #29bb89;
    border : none;
    font-weight : bold;
    color : black;
    font-size : 24px;
}
button#expert {
    background-color : #810000;
    border : none;
    font-weight : bold;
    color : black;
    font-size : 24px;
}

/*  game  */

.roundTitle {
    color : black;
}
.gameBoard img{
    border-radius : 20px;
    border : 3px solid black;
    margin-bottom : 15px;
}
.gameBoard button{
    border : 2px solid black;
    border-radius : none;
    width : 100%;
    padding : 10px 0;
    margin-top : 30px; 
    background-color : white;
    font-weight : bold;
    font-size : 18px;
    margin : 5px 0;
    box-shadow : none; 
    cursor : pointer;
}

/* info */
.info{
    text-align : center;
    padding : 10px 15px;
}
.info .update{
    color : black;
    font-size : 18px;
}
.info .update:nth-of-type(1){
    color : red; 
    font-size : 14px;
    font-weight : bold;
}
.info .update:nth-of-type(2){
    margin-top : 5px;
}
